<h1>Thank you for signing up for Shards of the Grid, <%= @user.username %>!</h1>
<h2>You should create a game, or join a friends session!</h2>

<h2>Tips from Professional Shards of the Grid Players</h2>
<ul>
  <li>"You can never have enough shards!" - Eli Paulsen</li>
  <li>"You should go buy shards!" - Shaun Richter</li>
  <li>"Put your credit card information into our app" - Nick Hageman</li>
  <li>"Buying shards is good for the soul" - Rabi Alaya</li>
  <li>"Shards" - Nate Schaefer</li>
</ul>
