.video-overlay
%video.background-video{ autoplay: true, loop: true, muted: true, playsinline: true }
  %source{ src: asset_path('test.mov'), type: 'video/mp4' }
  Your browser does not support the video tag.

%div.center-container
  %h1.shards-title= @welcome_message
  .button-container
    = link_to @login_button, login_button_path, class: 'btn btn-login'
    = link_to @create_button, create_button_path, class: 'btn btn-create'

%footer.footer
  %p!= @copyright_text
  -# Below are optional; we will think about them later
  -# %a{ href: "/terms" } Terms of Service
  -# %a{ href: "/privacy" } Privacy Policy
