<div id="chat-container">
  <h2>Chat with <%= @friend.username %></h2>
  
  <div id="message-input-container">
    <label for="message-input">Send a message:</label>
    <textarea id="message-input" placeholder="Type your message here..." rows="4" cols="50"></textarea>
    <button class="button send-message-button">Send</button>
  </div>
</div>
